# Parcel
.cache/
dist/

# Package manager
node_modules/
.yarn-integrity

# TypeScript v1 declaration files
typings/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# OS-generated
.DS_Store
