* {
    box-sizing: border-box;
}

html {
    // background-color: grey;
    font-size: 12px;
}

body {
    margin: 0;
}

#wrapper {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 992px;
    width: 100%;
}

header h1 {
    font-size: 2rem;
}

main {
    font-size: 1.2rem;
}

.test-success {
    color: green;
}
