doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author', content='')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='./styles/styles.scss')
    title Web Starter
  body
    #wrapper
      include partials/header.pug
      main
        h2 Tests
        p
          | Async/await:
          |
          span#async-await-result
          br
          | Spread:
          |
          span#spread-result
      footer
    script(src='./scripts/index.js')
